@{
    ViewData["Title"] = "_Layout";
}

@{
    bool darkTheme = Context.Session != null && Context.Session.GetString("Theme") != null && Context.Session.Keys.Contains("Theme").Equals("Sam");
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    @if (darkTheme)
    {
        <link rel="stylesheet" type="text/css" href="/css/SamsTheme.css" id="CssTheme"/>
    }
    else
    {
        <link rel="stylesheet" type="text/css" href="~/css/site.css" id="CssTheme" />
    }
</head>

<body>
    <header>
        <div class="logo-div">
            <img onclick="window.location.href =
                        '@Url.Action("Index", "Home")'" 
                 src="~/images/Sams Warehouse Shopping Cart.svg" />
        </div> 

        <ul class="nav-bar">
            <li>
                <button onclick=
                        "window.location.href = 
                        '@Url.Action("HomePage", "Home")'">Home
                </button>
            </li>

            <li>
                <button onclick=
                        "window.location.href = 
                        '@Url.Action("AboutPage", "Home")'">About
                </button>
            </li>

            <li>
                <button onclick="window.location.href =
                        '@Url.Action("ProductPage", "Home")'">
                    Products
                </button>
            </li>

            <li>
                <button onclick=
                        "window.location.href = 
                        '@Url.Action("PyramidChain", "Home")'">Solar-Sam
                </button>
            </li>

            <li>
                <button onclick=
                        "window.location.href = 
                        '@Url.Action("CartPage", "Home")'">Cart
                </button>
            </li>

            <li>
                <button onclick=
                        "window.location.href = 
                        '@Url.Action("AccountPage", "Home")'">Account

                </button>
            </li>
        </ul>
    </header>

    <script>

        var storedTheme = sessionStorage.getItem("theme_input")
        var newTheme = "";

        if (storedTheme === "Sams theme") {
            newTheme = "Sam"
            document.getElementById("CssTheme").setAttribute("href", "/css/SamsTheme.css")
        } else {
            newTheme = "Dark"
        }

        localStorage.setItem("Theme", newTheme)
        console.log(newTheme)

    </script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
@RenderBody()